@import url('https://fonts.googleapis.com/css2?family=Anton&family=PT+Serif:wght@700&family=Prompt:wght@500&display=swap');


body{
    background-image: linear-gradient(to right, rgb(56, 134, 207), rgb(197, 197, 197), rgb(132, 87, 174));
}

h1 {
    font-family: 'Prompt', sans-serif;
    font-size: 100px;
    color: aliceblue; 
}

p {
    font-family: 'Prompt', sans-serif;
    font-size: 30px;
    color: aliceblue;
}

.fundo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}